[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
scikit-learn = "*"
pandas = "*"
streamlit = "*"
psycopg2-binary = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
tqdm = "*"
notebook = "==7.1.2"
ipywidgets = "*"
hyperopt = "*"

[requires]
python_version = "3.12"
